/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 40%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Snackbar colors */
.warn-snackbar {
  background: #f12618;
  color: white;
}

.success-snackbar {
  background: #0eab32;
  color: white;
}
